.pagination{
    display: flex;
    width: 100%;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.pageNumber{
    padding: 8px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.arrow{
    border: none;
    background-color: white;
    cursor: pointer;
}

.focus{
     padding: 8px;
    border: none;
cursor: default;

   
}